<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VowTest1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFindFrdListServlet</display-name>
    <servlet-name>UserFindFrdListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.UserFindFrdListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFindFrdListServlet</servlet-name>
    <url-pattern>/UserFindFrdListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserUpdateServlet</display-name>
    <servlet-name>UserUpdateServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.UserUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserUpdateServlet</servlet-name>
    <url-pattern>/UserUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentFileList</display-name>
    <servlet-name>ContentFileList</servlet-name>
    <servlet-class>com.etc.vow.servlet.ContentFileList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentFileList</servlet-name>
    <url-pattern>/ContentFileList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentTagListServlet</display-name>
    <servlet-name>ContentTagListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.ContentTagListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentTagListServlet</servlet-name>
    <url-pattern>/ContentTagListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentFileListServlet</display-name>
    <servlet-name>ContentFileListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.ContentFileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentFileListServlet</servlet-name>
    <url-pattern>/ContentFileListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentCommentListServlet</display-name>
    <servlet-name>ContentCommentListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.ContentCommentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentCommentListServlet</servlet-name>
    <url-pattern>/ContentCommentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>like_favorite_download_repost_commentServlet</display-name>
    <servlet-name>like_favorite_download_repost_commentServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.like_favorite_download_repost_commentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>like_favorite_download_repost_commentServlet</servlet-name>
    <url-pattern>/like_favorite_download_repost_commentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentListServlet</display-name>
    <servlet-name>ContentListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.ContentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentListServlet</servlet-name>
    <url-pattern>/ContentListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishCommentServlet</display-name>
    <servlet-name>PublishCommentServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.PublishCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishCommentServlet</servlet-name>
    <url-pattern>/PublishCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PublishContentServlet</display-name>
    <servlet-name>PublishContentServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.PublishContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublishContentServlet</servlet-name>
    <url-pattern>/PublishContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllTagListServlet</display-name>
    <servlet-name>AllTagListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.AllTagListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTagListServlet</servlet-name>
    <url-pattern>/AllTagListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTagServlet</display-name>
    <servlet-name>AddTagServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.AddTagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTagServlet</servlet-name>
    <url-pattern>/AddTagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllUserListServlet</display-name>
    <servlet-name>AllUserListServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.AllUserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllUserListServlet</servlet-name>
    <url-pattern>/AllUserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteContentServlet</display-name>
    <servlet-name>deleteContentServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.deleteContentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteContentServlet</servlet-name>
    <url-pattern>/deleteContentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addFocusServlet</display-name>
    <servlet-name>addFocusServlet</servlet-name>
    <servlet-class>com.etc.vow.servlet.addFocusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addFocusServlet</servlet-name>
    <url-pattern>/addFocusServlet</url-pattern>
  </servlet-mapping>
</web-app>